<body>
<!--UND header-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-2">
    <div class="container">
      <a class="navbar-brand" href="#">UserNDot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="und-heading container">
    <div class=" row justify-content-center align-items-center">
      <h1 class="text-white text-uppercase font-weight-bold text-center col-12">Improve User Experience with
        <br>Personalized Marketing</h1>
      <button class="btn btn-primary btn-lg mt-3 ">Schedule a Demo</button>
    </div>
  </div>
</header>

<!--Section How does it Work-->

<section class="py-5 container">
  <div class="row justify-content-center py-3 mt-4">
    <h2 class="display-4 text-uppercase text-center col-12">How does it Work?</h2>
    <span class="d-block bg-primary mt-3" style="height: 3px;width: 70px;"></span>
  </div>
  <div class="row py-2 justify-content-center">
    <p class="section-title text-capitalize">We help deliver targeted campaigns with personalized messages to users and
      engage them with multiple channels of communication.</p>
  </div>
  <div class="row py-5">
    <div class="col-lg-3 col-md-6 text-center">
      <i class="fas fa-cogs fa-3x text-primary"></i>
      <h4 class="mt-4">Fully Automated</h4>
      <p class="my-2 py-1 section-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam dolorem dolorum eaque eius
        eos, fugit hic ipsa magni necessitatibus porro quas repudiandae, tempora, temporibus voluptates. Ab at quaerat
        voluptatibus.
      </p>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <i class="fas fa-clock fa-3x text-primary"></i>
      <h4 class="mt-4">See Real Time Response</h4>
      <p class="my-2 py-1 section-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam dolorem dolorum eaque eius
        eos, fugit hic ipsa magni necessitatibus porro quas repudiandae, tempora, temporibus voluptates. Ab at quaerat
        voluptatibus.
      </p>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <i class="fas fa-compass fa-3x text-primary"></i>
      <h4 class="mt-4">Geolocation Targeting</h4>
      <p class="my-2 py-1 section-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam dolorem dolorum eaque eius
        eos, fugit hic ipsa magni necessitatibus porro quas repudiandae, tempora, temporibus voluptates. Ab at quaerat
        voluptatibus.
      </p>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <i class="far fa-user-circle fa-3x text-primary"></i>
      <h4 class="mt-4">Personalization</h4>
      <p class="my-2 py-1 section-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam dolorem dolorum eaque eius
        eos, fugit hic ipsa magni necessitatibus porro quas repudiandae, tempora, temporibus voluptates. Ab at quaerat
        voluptatibus.
      </p>
    </div>
  </div>
</section>

<!--Section Product Features-->

<section class="py-5 container-fluid bg-light">
  <div class="container">
    <div class="row justify-content-center py-3 mt-4">
      <h2 class="display-4 text-uppercase text-center col-12">Product Features</h2>
      <span class="d-block bg-primary mt-3" style="height: 3px;width: 70px;"></span>
    </div>
    <div class="row justify-content-center py-5 pr-2">
      <div class="col-sm">
        <p class="section-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis cupiditate delectus dolorem
          eos
          fugit neque,
          obcaecati quas quisquam sapiente soluta velit veniam voluptatem. Asperiores distinctio laudantium obcaecati
          odio
          praesentium!
        </p>
        <p class="section-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis cupiditate delectus dolorem
          eos
          fugit neque,
          obcaecati quas quisquam sapiente soluta velit veniam voluptatem. Asperiores distinctio laudantium obcaecati
          odio
          praesentium!
        </p>
      </div>
      <div class="col-sm">
        <div class="row pl-2">
          <div class="col-12">
            <p class="font-weight-bold section-title text-uppercase mb-0" style="letter-spacing: 2px;">
              <i class="fas fa-signal mr-3 text-primary"></i>Conversion
              Rate</p>
            <p class="section-paragraph ml-4 pl-4">
              Increase RoI for marketing by 200%
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold section-title text-uppercase mb-0" style="letter-spacing: 2px;">
              <i class="fas fa-chart-line mr-3 text-primary"></i>Marketing
              analytics</p>
            <p class="section-paragraph ml-4 pl-3">Targeting based on user events and geolocations.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold section-title text-uppercase mb-0" style="letter-spacing: 2px;">
              <i class="fas fa-users mr-3 text-primary"></i>User Friendly</p>
            <p class="section-paragraph ml-4 pl-4">Help Understand your users closely
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold section-title text-uppercase mb-0" style="letter-spacing: 2px;">
              <i class="fas fa-plug mr-3 text-primary fa-lg"></i>Easy To use</p>
            <p class="section-paragraph ml-4 pl-3">Single point of managing most of your marketing
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--section benefits-->

<section class="py-5 container">
  <div class="row justify-content-center py-3 mt-4">
    <h2 class="display-4 text-uppercase text-center col-12">Benefits</h2>
    <span class="d-block bg-primary mt-3" style="height: 3px;width: 70px;"></span>
  </div>
  <div class="row py-5 px-5">
    <div class="col-sm">
      <div class="card text-center card-box-shadow">
        <div class="card-header">
          Geolocation
        </div>
        <div class="card-body">
          <i class="fas fa-compass fa-3x"></i>
          <p class="card-text mt-2">With supporting text below as a natural lead-in to additional content.
            supporting text below as a natural lead-in to additional</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center card-box-shadow">
        <div class="card-header">
          Geolocation
        </div>
        <div class="card-body">
          <i class="fas fa-compass fa-3x"></i>
          <p class="card-text mt-2">With supporting text below as a natural lead-in to additional content.
            supporting text below as a natural lead-in to additional</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center card-box-shadow">
        <div class="card-header">
          Geolocation
        </div>
        <div class="card-body">
          <i class="fas fa-compass fa-3x"></i>
          <p class="card-text mt-2">With supporting text below as a natural lead-in to additional content.
            supporting text below as a natural lead-in to additional</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1 px-5">
    <div class="col-sm">
      <div class="card text-center card-box-shadow">
        <div class="card-header">
          Geolocation
        </div>
        <div class="card-body">
          <i class="fas fa-compass fa-3x"></i>
          <p class="card-text mt-2">With supporting text below as a natural lead-in to additional content.
            supporting text below as a natural lead-in to additional</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center card-box-shadow">
        <div class="card-header">
          Geolocation
        </div>
        <div class="card-body">
          <i class="fas fa-compass fa-3x"></i>
          <p class="card-text mt-2">With supporting text below as a natural lead-in to additional content.
            supporting text below as a natural lead-in to additional</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center card-box-shadow">
        <div class="card-header">
          Geolocation
        </div>
        <div class="card-body">
          <i class="fas fa-compass fa-3x"></i>
          <p class="card-text mt-2">With supporting text below as a natural lead-in to additional content.
            supporting text below as a natural lead-in to additional</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section Testimonials-->

<section class="py-5 container-fluid section-testimonials">
  <div class="container">
    <div class="row justify-content-center py-3 mt-4">
      <h2 class="display-4 text-uppercase text-center col-12">Testimonials</h2>
      <span class="d-block bg-primary mt-3" style="height: 3px;width: 70px;"></span>
    </div>
    <div class="row my-5 pt-5 pb-2">
      <div class="col-md font-italic">
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aspernatur autem consequatur et
          ipsam iste labore nesciunt nihil non pariatur, possimus, quas quisquam quo repellendus, sequi suscipit.
          <cite class="d-block text-right mt-1 mr-3">-Laksh Bhutani</cite>
        </blockquote>
      </div>
      <div class="col-md font-italic">
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aspernatur autem consequatur et
          ipsam iste labore nesciunt nihil non pariatur, possimus, quas quisquam quo repellendus, sequi suscipit.
          <cite class="d-block text-right mt-1 mr-3">-Mark ZuckerBerg</cite>
        </blockquote>
      </div>
      <div class="col-md font-italic">
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aspernatur autem consequatur et
          ipsam iste labore nesciunt nihil non pariatur, possimus, quas quisquam quo repellendus, sequi suscipit.
          <cite class="d-block text-right mt-1 mr-3">-Jeff Bezos</cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<!--Section Demo-Form-->

<section class="py-5 container">
  <div class="row justify-content-center py-3 mt-4">
    <h2 class="display-4 text-uppercase text-center col-12">Ready to Improve your Business ?</h2>
    <span class="d-block bg-primary mt-3" style="height: 3px;width: 70px;"></span>
  </div>
  <div class="row py-2 justify-content-center">
    <p class="section-title text-capitalize">Set up a time to chat with one of our experts and get a fully customized
      demo.</p>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
</section>

<!--UND-Footer-->

<footer class="bg-dark text-light">
  <div class="container">
    <app-footer></app-footer>
  </div>

</footer>

</body>
