<div class="my-2 event-widget">
  <div class="row d-flex flex-row ml-2">
    <div class="form-group m-2">
      <!--<select2 class="form-control" placeholder="Country" [options]="countriesSelectList" [(ngModel)]="selectedCountry" (onSelect)="onCountrySelect($event)"></select2>-->
      <!--<input class="form-control" placeholder="Country"/>-->
      <!--<select2 placeholder="Country" class="form-control"  [data]="countriesSelectList"></select2>-->
      <select2 [data]="countriesSelectList | async" [value]="countriesSelectList | async" [width]="150"></select2>
    </div>
    <div class="form-group m-2">
      <input class="form-control" placeholder="State"/>
    </div>
    <div class="form-group m-2">
      <input class="form-control" placeholder="City"/>
    </div>
    <button type="button" class="close ml-auto mr-4 pos" aria-label="Close" (click)="removeObject()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
