<div class="my-2 event-widget">
  <div class="row d-flex flex-row ml-2">
    <div class="form-group m-2">
      <input class="form-control" placeholder="Country"/>
    </div>
    <div class="form-group m-2">
      <input class="form-control" placeholder="State"/>
    </div>
    <div class="form-group m-2">
      <input class="form-control" placeholder="City"/>
    </div>
    <button type="button" class="close ml-auto mr-4 pos" aria-label="Close" (click)="removeObject()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
