<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <form class="form-row mx-0" novalidate>
      <input type="text"
             name="name"
             placeholder="Name" class="form-control col-md-4 mr-4 mt-2"
             [(ngModel)]="sendersInfo.personal">
      <input type="email"
             name="email"
             placeholder="Email" class="form-control col-md-5 mr-auto mt-2"
            [(ngModel)]="sendersInfo.address">
      <button class="btn btn-primary mt-2 info-add"
              type="add"
              (click)="addSendersInfo()">Add Info</button>
    </form>
    <div class="table-responsive-sm mt-4">
      <table class="table table-hover">
        <thead>
          <tr class="bg-dark text-light">
            <th scope="col">Name</th>
            <th scope="col">Email Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let senderInfo of sendersInfoList">
            <td>{{senderInfo.personal}}</td>
            <td>{{senderInfo.address}}
              <div class="pull-right">
                <button class="btn btn-danger btn-sm pull-right" (click)="deleteSendersInfo(senderInfo)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
