<div class="fluid">
  <div>
    Segment
    <br>
    Find Users
  </div>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-users"></i> Users by behavior
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="card-title">Users who did <span class="small text-muted">(optional)</span></div>
              <button class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Event</button>
            </div>
          </div>
          AND
          <div class="card">
            <div class="card-body">
              <div class="card-title">Users who did not do <span class="small text-muted">(optional)</span></div>
              <button class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Event</button>
            </div>
          </div>
          AND
          <div class="card">
            <div class="card-body">
              <div class="card-title">Users with these properties <span class="small text-muted">(optional)</span></div>
              <button class="btn btn-success"><i class="fa fa-plus-circle"></i> Add user properties</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-user"></i> Users by identity
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
