<div class="container-fluid">
  <div class="text-right mt-3 mb-1">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" (click)="onCreateNew()">
      Create New Segment
    </button>
  </div>
  <table class="table table-bordered my-3">
    <thead style="background-color: rgba(0, 0, 0, .03);">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Segment Name</th>
      <th scope="col">Segment Type</th>
      <th scope="col">Created On</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let segment of segments">
      <th scope="row">{{segment.id}}</th>
      <td (click)="toggleSegmentDetail(segment.id)">
        <span class="segment-name">{{segment.name}} <sup [hidden]="toggleSegmentDetails[segment.id]" data-toggle="tooltip" data-placement="bottom" title="Click to see details" style="color: #1e6abc; font-weight: normal;"><i class="far fa-question-circle"></i></sup></span>
        <span [hidden]="!toggleSegmentDetails[segment.id]">
          <br>
          <app-segment-nlp [segment]="segment"></app-segment-nlp>
        </span>
      </td>
      <td>{{segment.type}}</td>
      <td>{{segment.creationDate}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
