<div class="container-fluid">
  <div class="text-right mt-3 mb-1">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" (click)="onCreateNew()">
      Create New Segment
    </button>
  </div>
  <table class="table table-bordered my-3">
    <thead style="background-color: rgba(0, 0, 0, .03);">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Segment Name</th>
      <th scope="col">Segment Type</th>
      <th scope="col">Created On</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let segment of segments">
      <th scope="row">{{segment.id}}</th>
      <td>{{segment.name}}</td>
      <td>{{segment.type}}</td>
      <td>{{segment.creationDate}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
