<div class="form-group col-lg-3 col-md-4 col-sm-6 pl-0">
  <select class="form-control" id="andOr">
    <option>All (AND)</option>
    <option>Any (OR)</option>
  </select>
</div>
<div class="event-widget">
  <div class="form-group col-4">
    <select class="form-control" id="filterName">
      <option>Added to Cart</option>
      <option>App Uninstalled</option>
      <option selected>Charged</option>
      <option>Category Viewed</option>
      <option>Notification Sent</option>
      <option>Notification Viewed</option>
      <option>Product Viewed</option>
      <option>Payment Offer Applied</option>
      <option>Support Call</option>
      <option>Searched</option>
      <option>UTM Visited</option>
    </select>
  </div>
</div>
