<div class="container col-lg-7 mt-5">
  <div class="card"
       *ngIf="!showScheduleForm">
    <h3 class="card-header">
      Setup Your Campaign
    </h3>
    <div class="card-body">
      <form novalidate
            #f="ngForm">
        <div class="form-group col-9">
          <label class="card-title h5">Campaign Name</label>
          <input class="form-control"
                 type="text"
                 placeholder="Campaign Name"
                 name="campaignName"
                 [(ngModel)]="campaignName"
                 pattern="[A-Za-z][A-Za-z\\d_-\s]*"
                 #campaignN="ngModel"
                 required>
          <div *ngIf=" campaignN.errors.invalid && (campaignN.dirty || campaignN.touched)"
               class="alert alert-danger">

            <div *ngIf="campaignN.errors.required">
              Name is required.
            </div>
            <div *ngIf="campaignN.errors.pattern">
              Name cannot contain any speical characters.
            </div>

          </div>
        </div>
        <div class="form-group col-9">
          <label class="card-title h5">Who do you want to send this campaign to?</label>
          <select class="form-control"
                  name="segmentName"
                  #segmentID
                  (change)="saveSegmentID(segmentID.value)">
            <option value="selectSegment" selected>Choose from a list of Segments . . .</option>
            <option *ngFor="let segment of segmentsList"
                    [value]="segment.id">{{segment.name}}
            </option>
          </select>
        </div>
        <div class="form-group col-9">
          <label class="card-title h5">What do you want to Send?</label>
          <select class="form-control"
                  #templateID
                  (change)="saveTemplateID(templateID.value)">
            <option value="selectTemplate" selected>Choose from a list of Templates . . .</option>
            <ng-container
              *ngIf="currentPath==='sms'">
              <option *ngFor="let smsTemplate of smsTemplatesList"
                      [value]="smsTemplate.id">{{smsTemplate.name}}
              </option>
            </ng-container>
            <ng-container
              *ngIf="currentPath==='email'">
              <option *ngFor="let emailTemplate of emailTemplatesList"
                      [value]="emailTemplate.id">{{emailTemplate.name}}
              </option>
            </ng-container>
          </select>

        </div>
        <button class="btn btn-primary ml-3 px-4"
                (click)="continueToSchedule()"
                type="button"
                [disabled]='f.invalid || templateID.value=="selectTemplate" || segmentID.value=="selectSegment"'>
          Continue
        </button>
      </form>
    </div>
  </div>

  <div class="card"
       *ngIf="showScheduleForm">
    <h3 class="card-header">
      When do you want to schedule this campaign?
    </h3>
    <div class="card-body">
      <form (ngSubmit)="onSubmit(f)"
            #f="ngForm">
        <div class="col-12">
          <label class="card-title h5">Message Type</label>
          <br>
          <input class="mr-1"
                 type="radio"
                 name="messageType"
                 value="oneTime"
                 id="oneTime"
                 required
                 [(ngModel)]="scheduleType"
                 (click)="makeOneTimeDateObject()">
          <label for="oneTime">One Time</label>

          <input class="ml-2 mr-1"
                 type="radio"
                 name="messageType"
                 value="multipleDates"
                 id="multipleDates"
                 required
                 [(ngModel)]="scheduleType"
                 (click)="makeMultipleDateObject()">
          <label for="multipleDates">On Multiple Dates</label>

          <input class="ml-2 mr-1"
                 type="radio"
                 name="messageType"
                 value="recurring"
                 id="recurring"
                 required
                 [(ngModel)]="scheduleType"
                 (click)="makeRecurringObject()">
          <label for="recurring">Recurring</label>
        </div>
        <div class="col-9 mt-2"
             *ngIf="scheduleType==='oneTime'">
          <label class="card-title h5">Campaign start date and time</label>
          <br>
          <input class="mr-1"
                 type="radio"
                 name="campaignStartTime"
                 value="Now"
                 id="now"
                 required
                 [(ngModel)]="schedule1.oneTime.nowOrLater">
          <label for="now">Now</label>
          <input class="mr-1 ml-2"
                 type="radio"
                 name="campaignStartTime"
                 value="Later"
                 id="later"
                 required
                 [(ngModel)]="schedule1.oneTime.nowOrLater">
          <label for="later">Later</label>
          <app-date-time *ngIf="schedule1.oneTime.nowOrLater==='Later'"
                         [(campaignLaterTime)]="schedule1.oneTime.campaignTime"></app-date-time>

        </div>
        <div class="col-9 mt-2"
             *ngIf="scheduleType==='multipleDates'">
          <label class="card-title mb-0 h5">Pick Dates</label>
          <br>
          <app-date-time [campaignTimesList]="schedule1.multipleDates.campaignDateTimeList"></app-date-time>
          <div #parent></div>
          <button type="button"
                  class="btn btn-link py-0 pl-0 mb-2"
                  (click)="addAnotherDateTime()">
            <i class="fa fa-plus " aria-hidden="true"></i>
            Add another date
          </button>
        </div>
        <div *ngIf="scheduleType==='recurring'">
          <div class="col-12 mt-3">
            <label class="card-title mb-0 h5">Campaign Start</label>
            <div class="input-group col-md-5 col-sm-6 col-xs-6 pl-0 mt-3 mb-4"
                 daterangepicker
                 [options]="singlePicker"
                 (selected)="campaignStartDateSelect($event)">
              <span class="form-control uneditable-input pr-2 col-6"
                    name="daterange">
                {{ schedule1.recurring.scheduleStartDate | date:'dd/M/y'}}
              </span>
              <span class="input-group-btn">
                <a type="button" class="btn btn-default"><i class="far fa-calendar-alt"></i></a>
              </span>
            </div>
          </div>
          <div class="col-12 mb-3 mt-2">
            <label class="card-title h5">Campaign End</label>
            <br>
            <input class="mr-1"
                   type="radio"
                   name="campaignEnd"
                   id="neverEnd"
                   value="NeverEnd"
                   [(ngModel)]="schedule1.recurring.scheduleEnd.endType"
                   required>
            <label for="neverEnd">Never End</label>
            <input class="ml-2 mr-1"
                   type="radio"
                   name="campaignEnd"
                   value="EndsOnDate"
                   [(ngModel)]="schedule1.recurring.scheduleEnd.endType"
                   id="selectDate"
                   required>
            <label for="selectDate">Select Date</label>
            <input class="ml-2 mr-1"
                   type="radio"
                   name="campaignEnd"
                   value="Occurrences"
                   [(ngModel)]="schedule1.recurring.scheduleEnd.endType"
                   id="afterOccurences"
                   required>
            <label for="afterOccurences"
                   class="form-inline d-inline">
              After
              <input type="number"
                     name="occurences"
                     min="1"
                     class="form-control col-1"
                     [(ngModel)]="schedule1.recurring.scheduleEnd.occurrences">
              occurences
            </label>
            <div *ngIf="schedule1.recurring.scheduleEnd.endType==='EndsOnDate'"
                 class="input-group col-md-5 col-sm-6 col-xs-6 pl-0 mt-3 mb-4"
                 daterangepicker
                 [options]="singlePicker"
                 (selected)="campaignEndDateSelect($event)">
              <span class="form-control uneditable-input pr-2 col-6"
                    name="daterange">
                  {{ schedule1.recurring.scheduleEnd.endsOn | date:'dd/M/y' }}
              </span>
              <span class="input-group-btn">
                <a type="button" class="btn btn-default"><i class="far fa-calendar-alt"></i></a>
              </span>
            </div>
          </div>
          <div class="col-12 mb-2">
            <label class="card-title h5">Repeat </label>
            <cron-editor [(cron)]="cronExpression"
                         [disabled]="isCronDisabled"
                         [(options)]="cronOptions"
            >Cron here...
            </cron-editor>
          </div>
        </div>
        <div class="bg-light p-3 mb-3 rounded font-italic">
          <span class="font-weight-bold">
            Summary &#58;
          </span>
          Send {{scheduleType}}
          <span *ngIf="schedule1 && schedule1.oneTime">
            {{schedule1.oneTime.nowOrLater}}
          </span>
          <p *ngIf="schedule1 && schedule1.oneTime && schedule1.oneTime.nowOrLater==='Later'"
             class="d-inline">
            On
            <span class="mr-3">
              {{schedule1.oneTime.campaignTime.date|date}} at {{schedule1.oneTime.campaignTime.hours}}:{{schedule1.oneTime.campaignTime.minutes}}
            </span>
          </p>
          <p *ngIf="schedule1 && schedule1.multipleDates" class="d-inline">
            On
            <span *ngFor="let campaignTime of schedule1.multipleDates.campaignDateTimeList"
                  class="mr-3">
              {{campaignTime.date|date}} at {{campaignTime.hours}}:{{campaignTime.minutes}}
            </span>
          </p>
          <p *ngIf="scheduleType=='recurring'">
            <b> {{cronExpression}} </b>
          </p>
        </div>
        <button class="btn btn-primary ml-3 px-4"
                type="submit">Continue
        </button>
      </form>
    </div>
  </div>
</div>


