<hr class="my-5">
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list-unstyled">
              <li><a [routerLink]="['/']">Product</a></li>
              <li><a [routerLink]="['/']">Benefits</a></li>
              <li><a [routerLink]="['/']">Partners</a></li>
              <li><a [routerLink]="['/']">Team</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="list-unstyled">
              <li><a [routerLink]="['/']">Documentation</a></li>
              <li><a [routerLink]="['/']">Support</a></li>
              <li><a [routerLink]="['/terms-of-service']">Terms of Service</a></li>
              <li><a [routerLink]="['/aboutus']">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>&copy; <small>2017 onward. All Rights Reserved. UserNDot is brought to you by Digicologies Software Pvt. Ltd.</small></div>
  </div>
</footer>
